# Google OAuth2 (Obtener de Google Cloud Console)
GOOGLE_CLIENT_ID=669903110693-xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxx

# Backend Railway (PostgreSQL)
PGHOST=xxxx.proxy.rlwy.net
PGPORT=5432
PGUSER=postgres
PGPASSWORD=xxxx
PGDATABASE=railway

# Seguridad JWT
JWT_SECRET=tu_clave_secreta_aqui